<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" layout:decorator="~{layout}"
      xmlns:layout="http://www.w3.org/1999/xhtml">
<body layout:fragment="content">
    <h2>Delete</h2>

    <h3>Are you sure you want to delete this?</h3>
    <div>
        <h4>Topic</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>Name</dt>
            <dd th:text="${model.topicName}"></dd>
        </dl>

        <form action="#" th:action="@{'/topic/' + ${id} + '/delete'}" th:object="${model}" method="post">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            <a th:href="@{'~/forum/' + ${model.topicForum.id}}">Back to List</a>
        </form>
    </div>
</body>
</html>