<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml" layout:decorator="~{layout}"
      xmlns:layout="http://www.w3.org/1999/xhtml">
<body layout:fragment="content">
    <h2 th:text="${model.topicName}"></h2>
    <p>
        <a sec:authorize="isAuthenticated()" th:href="@{'~/message/' + ${id} + '/create'}">Reply</a>
        <a sec:authorize="!isAuthenticated()" th:href="@{~/login}">Reply</a>
        <t th:if="${canEditTopic}">
        | <a th:href="@{${id} + '/edit'}">Edit</a>
        | <a th:href="@{${id} + '/delete'}">Delete</a>
        </t>
        | <a th:href="@{'~/forum/' + ${model.topicForum.id}}" th:text="'Back to ' + ${model.topicForum.forumName}"></a>
    </p>

    <div th:each="message : ${model.messages}" class="panel panel-default">
        <div class="panel-heading">
            <div>
                <text th:text="${message.creator.username} + ' ' + ${message.created} + ' (edited ' + ${message.modified} + ')'"></text>
                <t th:if="${message.creator.username == currUsername || isAdmin}">
                | <a th:href="@{'~/message/' + ${message.id} + '/edit'}">Edit</a>
                | <a th:href="@{'~/message/' + ${message.id} + '/delete'}">Delete</a>
                </t>
<!--                    | <a asp-controller="ForumMessageAttachments" asp-action="Create" asp-route-id="@message.Id">Attach</a>-->
            </div>
        </div>
        <div class="panel-body">
            <div class="forum-message-text" th:text="${message.text}"></div>
           <!-- @if (message.ForumMessageAttachments != null)
            {
            <div class="row">
                @foreach (var attachment in message.ForumMessageAttachments.OrderBy(x => x.Created))
                {
                <div class="col-sm-6 col-md-4">
                    <div class="thumbnail">
                        <a href="@attachment.FilePath" target="__blank">
                            <img src="@attachment.FilePath" alt="Attachment" />
                        </a>
                    </div>
                    @if (UserPermissions.CanEditTopicMessage(message))
                    {
                    <div class="caption">
                        <p><a asp-controller="ForumMessageAttachments" asp-action="Delete" asp-route-id="@attachment.Id" class="btn btn-sm btn-danger">Delete</a></p>
                    </div>
                    }
                </div>
                }
            </div>
            }-->
        </div>
    </div>
</body>
</html>