<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" layout:decorator="~{layout}"
      xmlns:layout="http://www.w3.org/1999/xhtml">
<body layout:fragment="content">
    <h2>Edit forum</h2>

    <form action="#" th:action="@{/forum/edit/} + ${id}" th:object="${model}" method="post">
        <div class="form-horizontal">
            <hr />
            <div class="form-group">
                <label class="col-md-2 control-label">Category</label>
                <div class="col-md-10">
                    <select th:field="*{categoryId}">
                        <option th:each="i : ${categories}" th:value="${i.id}"
                                th:text="${i.categoryName}" th:selected="${i==categoryId}"></option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2 control-label">Name</label>
                <div class="col-md-10">
                    <input type="text" th:field="*{forumName}" class="form-control" />
                    <span th:if="${#fields.hasErrors('forumName')}" th:errors="*{forumName}" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2 control-label">Description</label>
                <div class="col-md-10">
                    <input type="text" th:field="*{description}" class="form-control" />
                    <span th:if="${#fields.hasErrors('description')}" th:errors="*{description}" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </form>

    <div>
        <a th:href="@{~/categories}">Back to List</a>
    </div>
</body>
</html>