<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" layout:decorator="~{layout}"
      xmlns:layout="http://www.w3.org/1999/xhtml">
<body layout:fragment="content">
    <h2 th:text="${model.forumName}"></h2>
    <p th:text="${model.description}"></p>
    <p>
        <a th:href="@{'~/topic/create/' + ${model.id}}">Create new topic</a>
    </p>

    <div class="panel panel-default">
        <table class="table table-striped">
            <tbody th:each="topic : ${model.topics}">
                <tr>
                    <td>
                        <a th:href="@{'~/topic/' + ${topic.id}}" th:text="${topic.topicName}" style="font-size: 1.3em"></a><br />
                        <text th:text="${topic.creator.username} + ', ' + ${topic.created}"></text>
                    </td>
                    <td style="width: 100px" th:switch="${#lists.size(topic.messages)}">
                        <text th:case="'1'" th:text="${#lists.size(topic.messages)} + ' reply'"></text>
                        <text th:case="*" th:text="${#lists.size(topic.messages)} + ' replies'"></text>
                    </td>
                    <td style="width: 220px">
                        <text th:text="${topic.messages[#lists.size(topic.messages) - 1].creator.username}"></text><br />
                        <text th:text="${topic.messages[#lists.size(topic.messages) - 1].created}"></text>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>