<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" layout:decorator="~{layout}"
      xmlns:layout="http://www.w3.org/1999/xhtml">
<body layout:fragment="content">
    <h2>Create forum category</h2>

    <form action="#" th:action="@{/categories/create}" th:object="${model}" method="post">
        <div class="form-horizontal">
            <hr />
            <div class="form-group">
                <label class="col-md-2 control-label">Category name</label>
                <div class="col-md-10">
                    <input type="text" th:field="*{categoryName}" class="form-control" />
                    <span th:if="${#fields.hasErrors('categoryName')}" th:errors="*{categoryName}" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Create" class="btn btn-default" />
                </div>
            </div>
        </div>
    </form>

    <div>
        <a th:href="@{~/categories}">Back to List</a>
    </div>
</body>
</html>