<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" layout:decorator="~{layout}"
      xmlns:layout="http://www.w3.org/1999/xhtml">
<body layout:fragment="content">
    <h2>Delete</h2>

    <h3>Are you sure you want to delete this?</h3>
    <div>
        <h4>ForumCategory</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>Category name</dt>
            <dd th:text="${model.categoryName}"></dd>
        </dl>

        <form action="#" th:action="@{/categories/delete/} + ${id}" th:object="${model}" method="post">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            <a href="index" th:href="@{~/categories}">Back to List</a>
        </form>
    </div>
</body>
</html>