<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" layout:decorator="~{layout}"
      xmlns:layout="http://www.w3.org/1999/xhtml">
<body layout:fragment="content">
    <h2>Forum</h2>

    <div th:each="category : ${model}" class="panel panel-default forum-category">
        <div class="panel-heading">
            <strong th:text="${category.categoryName}"></strong>
            <t th:if="${isAdmin}">
            | <a th:href="@{'~/categories/edit/' + ${category.id}}">Edit</a>
            | <a th:href="@{'~/categories/delete/' + ${category.id}}">Delete</a>
            | <a th:href="@{~/forum/create}">Create forum</a>
            </t>
        </div>
        <table class="table table-striped">
            <tbody>
            <tr th:each="forum : ${category.forums}">
                <td>
                    <a th:href="@{~/forum/} + ${forum.id}" class="forum-name" th:text="${forum.forumName}"></a>
                    <t th:if="${isAdmin}">
                    | <a th:href="@{'~/forum/edit/' + ${forum.id}}">Edit</a>
                    | <a th:href="@{'~/forum/delete/' + ${forum.id}}">Delete</a>
                    </t>
                    <p th:text="${forum.description}"></p>
                </td>
                <td style="width: 150px" th:switch="${#lists.size(forum.topics)}">
                    <span th:case="'1'" th:text="${#lists.size(forum.topics)} + ' topic'"></span>
                    <span th:case="*" th:text="${#lists.size(forum.topics)} + ' topics'"></span>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <div th:if="${isAdmin}" class="panel panel-default">
        <div class="panel-heading">
            <a th:href="@{~/categories/create}">Create new category</a>
        </div>
    </div>
</body>
</html>