<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <link rel="stylesheet" th:href="@{/lib/bootstrap/dist/css/bootstrap.css}"  />
    <link rel="stylesheet" th:href="@{/css/site.css}" />
</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a th:href="@{/}" class="navbar-brand">Forum</a>
            </div>
            <div class="navbar-collapse collapse">
                <!--@if (SignInManager.IsSignedIn(User))
                {
                <form asp-area="" asp-controller="Account" asp-action="Logout" method="post" id="logoutForm" class="navbar-right">
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a asp-area="" asp-controller="Manage" asp-action="Index" title="Manage">Hello @UserManager.GetUserName(User)!</a>
                        </li>
                        <li>
                            <button type="submit" class="btn btn-link navbar-btn navbar-link">Log out</button>
                        </li>
                    </ul>
                </form>
                }
                else
                {
                <ul class="nav navbar-nav navbar-right">
                    <li><a asp-area="" asp-controller="Account" asp-action="Register">Register</a></li>
                    <li><a asp-area="" asp-controller="Account" asp-action="Login">Log in</a></li>
                </ul>
                }-->
                <div sec:authorize="isAuthenticated()" class="navbar-right">
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a>Hello <text sec:authentication="name"></text>!</a>
                        </li>
                        <li>
                            <a th:href="@{/logout}" class="navbar-link">Log out</a>
                        </li>
                    </ul>
                </div>
                <ul sec:authorize="!isAuthenticated()" class="nav navbar-nav navbar-right">
                    <li><a th:href="@{/registration}">Register</a></li>
                    <li><a th:href="@{/login}">Log in</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container body-content">
        <div layout:fragment="content"></div>
        <hr />
        <footer>
            <p>&copy;</p>
        </footer>
    </div>
    <script src="/lib/jquery/dist/jquery.js" th:href="@{/lib/jquery/dist/jquery.js}"></script>
    <script src="/lib/bootstrap/dist/js/bootstrap.js" th:href="@{/lib/bootstrap/dist/js/bootstrap.js}"></script>
</body>
</html>