<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" layout:decorator="~{layout}"
      xmlns:layout="http://www.w3.org/1999/xhtml">
<body layout:fragment="content">
<h2>Login</h2>
    <div class="row">
        <div class="col-md-8">
            <section>
                <form th:object="${model}" th:action="@{login}" method="post" action="/login" class="form-horizontal">
                    <h4>Use a local account to log in.</h4>
                    <hr />
                    <div class="form-group">
                        <label class="col-md-2 control-label">Username</label>
                        <div class="col-md-10">
                            <input name="username" class="form-control" />
                            <span th:if="${#fields.hasErrors('username')}" th:errors="*{username}" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label">Password</label>
                        <div class="col-md-10">
                            <input name="password" class="form-control" type="password" />
                            <span th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <button type="submit" class="btn btn-default">Log in</button>
                        </div>
                    </div>
                    <p>
                        <a th:href="@{/registration}">Register as a new user?</a>
                    </p>
                </form>
            </section>
        </div>
    </div>
</body>
</html>