<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" layout:decorator="~{layout}"
      xmlns:layout="http://www.w3.org/1999/xhtml">
<body layout:fragment="content">
    <h2>Delete</h2>

    <h3>Are you sure you want to delete this?</h3>
    <div>
        <h4>Topic</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>Message</dt>
            <dd th:text="${model.text}"></dd>
        </dl>
        <dl class="dl-horizontal">
            <dt>Created</dt>
            <dd th:text="${model.created}"></dd>
        </dl>
        <dl class="dl-horizontal">
            <dt>Modified</dt>
            <dd th:text="${model.modified}"></dd>
        </dl>

        <form action="#" th:action="@{'/message/' + ${id} + '/delete'}" th:object="${model}" method="post">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            <a th:href="@{'~/topic/' + ${model.messageTopic.id}}">Back to List</a>
        </form>
    </div>
</body>
</html>