<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" layout:decorator="~{layout}"
      xmlns:layout="http://www.w3.org/1999/xhtml">
<body layout:fragment="content">
    <h2>Edit message</h2>

    <form action="#" th:action="@{'/message/' + ${id} + '/edit'}" th:object="${model}" method="post">
        <div class="form-horizontal">
            <hr />
            <div class="form-group">
                <label class="col-md-2 control-label">Message</label>
                <div class="col-md-10">
                    <input type="text" th:field="*{text}" class="form-control" />
                    <span th:if="${#fields.hasErrors('text')}" th:errors="*{text}" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </form>

    <div>
        <a th:href="@{'~/topic/' + ${model.topicId}}">Back to List</a>
    </div>
</body>
</html>